<div class="alert alert-@ViewBag.Class" role="alert">
    <strong>@ViewBag.Strong</strong> @ViewBag.Message
    <p class="mb-0">
        Want to apply another job?<br />
        <a href="/">Click Here</a>
    </p>
</div>

